In [1]:
import psycopg2

In [2]:
username = 'eloodklp'
password = 'K356UfFrf0EeAxm08nF5NP-6CjiGxw-8'
hostname = 'tyke.db.elephantsql.com'
port = '5432'
database = 'eloodklp'

conexion = psycopg2.connect(dbname=database,
                            user=username,
                            password=password,
                            host=hostname,
                            port=port)
print(conexion)

<connection object at 0x000001B3BBDC5360; dsn: 'user=eloodklp password=xxx dbname=eloodklp host=tyke.db.elephantsql.com port=5432', closed: 0>

In [3]:
cursor = conexion.cursor()
cursor.execute("SELECT * FROM actividad1.cliente WHERE cp='46003'ORDER BY Actividad1.cliente.apellido1;")
cursor.fetchall()

[(86,
  'Carlito',
  'Bárcena',
  'Molins',
  'CL. DENIA, 61, 1ª',
  '46003',
  '622086810',
  '190837888405201000',
  111111111),
 (71,
  'Ricardo',
  'Benito',
  'Olivares',
  'CL. JOSE MARIA BAYARRI, 15, 15ª',
  '46003',
  '603666421',
  '190957113764071000',
  111111111),
 (45,
  'Rosaura',
  'Bertrán',
  'Torrijos',
  'PZ. AYUNTAMIENTO DEL, 5, 19ª',
  '46003',
  '693078511',
  '190371795804087000',
  111111111),
 (23,
  'Sabina',
  'Cuéllar',
  'Perera',
  'CL. GARRIGUES LES, 4, 16ª',
  '46003',
  '663070534',
  '190540513863490000',
  111111111),
 (12,
  'Anastasio',
  'Manuel-Valenciano',
  'Alegre',
  'CL. MARTINEZ CUBELLS, 10, 907ª',
  '46003',
  '693038646',
  '190879542736964000',
  111111111),
 (94,
  'Belen',
  'Somoza',
  'Somoza',
  'CL. AYORA, 23, 21ª',
  '46003',
  '643981162',
  '190254583191892000',
  111111111),
 (35,
  'Cebrián',
  'Valls',
  'Alberdi',
  'AV. DE LOEST, S/N, ª',
  '46003',
  '600523413',
  '190909849230425000',
  111111111)]

In [9]:
cursor = conexion.cursor()
cursor.execute("SELECT nom.categoria, SUM(nom.sueldo_base + nom.plus_mantenimiento +nom.plus_curso) as sueldo FROM actividad1.nomina as nom where EXTRACT(MONTH FROM nom.fecha) = 08 AND EXTRACT(YEAR FROM nom.fecha) = 2021 GROUP BY nom.categoria")
cursor.fetchall()

[('Administracion', Decimal('2600.00')),
 ('Administrativo', Decimal('7650.00')),
 ('Limpieza', Decimal('5000.00')),
 ('Monitor', Decimal('20650.00')),
 ('Técnico Mantenimiento', Decimal('4200.00'))]

In [3]:
cursor = conexion.cursor()
cursor.execute("SELECT cli.nombre, cli.apellido1, abo.nombre FROM actividad1.cliente as cli, actividad1.suscripcion as sus, actividad1.abono as abo Where cli.id= sus.cliente AND sus.abono = abo.id AND abo.nombre= 'Nutrición'")
cursor.fetchall()

[('Flavia', 'Cisneros', 'Nutrición'),
 ('Agapito', 'Mateo', 'Nutrición'),
 ('Ruth', 'Sales', 'Nutrición'),
 ('Victoriano', 'Cabanillas-Terrón', 'Nutrición'),
 ('Ema', 'Canales', 'Nutrición')]

In [ ]:
# Cerrar el cursor
cursor.close()

In [5]:
# Cerrar la conexión
conexion.close()