In [8]:
import psycopg2

In [9]:
username = 'postgres'
password = 'xxxxxxxx'
hostname = 'localhost'
port = '5432'
database = 'ACT1_MIOT06'

conexion = psycopg2.connect(dbname=database,
                            user=username,
                            password=password,
                            host=hostname,
                            port=port)
print(conexion)

<connection object at 0x000001DE5E3068A0; dsn: 'user=postgres password=xxx dbname=ACT1_MIOT06 host=localhost port=5432', closed: 0>

In [10]:
cursor = conexion.cursor()
cursor.execute("SELECT * FROM actividad1.cliente WHERE cp='46003'ORDER BY Actividad1.cliente.apellido1;")
cursor.fetchall()

[(86,
  'Carlito',
  'Bárcena',
  'Molins',
  'CL. DENIA, 61, 1ª',
  '46003',
  '622086810',
  '190837888405201000',
  111111111),
 (71,
  'Ricardo',
  'Benito',
  'Olivares',
  'CL. JOSE MARIA BAYARRI, 15, 15ª',
  '46003',
  '603666421',
  '190957113764071000',
  111111111),
 (45,
  'Rosaura',
  'Bertrán',
  'Torrijos',
  'PZ. AYUNTAMIENTO DEL, 5, 19ª',
  '46003',
  '693078511',
  '190371795804087000',
  111111111),
 (23,
  'Sabina',
  'Cuéllar',
  'Perera',
  'CL. GARRIGUES LES, 4, 16ª',
  '46003',
  '663070534',
  '190540513863490000',
  111111111),
 (12,
  'Anastasio',
  'Manuel-Valenciano',
  'Alegre',
  'CL. MARTINEZ CUBELLS, 10, 907ª',
  '46003',
  '693038646',
  '190879542736964000',
  111111111),
 (94,
  'Belen',
  'Somoza',
  'Somoza',
  'CL. AYORA, 23, 21ª',
  '46003',
  '643981162',
  '190254583191892000',
  111111111),
 (35,
  'Cebrián',
  'Valls',
  'Alberdi',
  'AV. DE LOEST, S/N, ª',
  '46003',
  '600523413',
  '190909849230425000',
  111111111)]

In [11]:
cursor = conexion.cursor()
cursor.execute("SELECT nom.categoria, SUM(nom.sueldo_base + nom.plus_mantenimiento +nom.plus_curso) as sueldo FROM actividad1.nomina as nom where EXTRACT(MONTH FROM nom.fecha) = 08 AND EXTRACT(YEAR FROM nom.fecha) = 2021 GROUP BY nom.categoria")
cursor.fetchall()

[('Administracion', Decimal('2600.00')),
 ('Administrativo', Decimal('7650.00')),
 ('Limpieza', Decimal('5000.00')),
 ('Monitor', Decimal('20650.00')),
 ('Técnico Mantenimiento', Decimal('4200.00'))]

In [12]:
cursor = conexion.cursor()
cursor.execute("SELECT cli.nombre, cli.apellido1, abo.nombre FROM actividad1.cliente as cli, actividad1.suscripcion as sus, actividad1.abono as abo Where cli.id= sus.cliente AND sus.abono = abo.id AND abo.nombre= 'Nutrición'")
cursor.fetchall()

[('Flavia', 'Cisneros', 'Nutrición'),
 ('Agapito', 'Mateo', 'Nutrición'),
 ('Ruth', 'Sales', 'Nutrición'),
 ('Victoriano', 'Cabanillas-Terrón', 'Nutrición'),
 ('Ema', 'Canales', 'Nutrición')]

In [13]:
#Pagos a cada categoria en agosto
cursor.execute("SELECT nom.categoria, SUM(nom.sueldo_base + nom.plus_mantenimiento +nom.plus_curso) as sueldo FROM actividad1.nomina as nom where EXTRACT(MONTH FROM nom.fecha) = 08 AND EXTRACT(YEAR FROM nom.fecha) = 2021 GROUP BY nom.categoria")
cursor.fetchall()

[('Administracion', Decimal('2600.00')),
 ('Administrativo', Decimal('7650.00')),
 ('Limpieza', Decimal('5000.00')),
 ('Monitor', Decimal('20650.00')),
 ('Técnico Mantenimiento', Decimal('4200.00'))]

In [14]:
#categoria de cada empleado
cursor.execute("SELECT emp.nombre, emp.apellido1, nom.categoria FROM actividad1.empleado as emp, actividad1.nomina as nom WHERE emp.id = nom.empleado GROUP BY emp.id, nom.categoria ORDER BY nom.categoria")
cursor.fetchall()

[('Reyes', 'Aguilera', 'Administracion'),
 ('Tecla', 'Tapia', 'Administracion'),
 ('María', 'Pelayo', 'Administrativo'),
 ('Juana', 'Arteaga', 'Administrativo'),
 ('Dorita', 'Giralt', 'Administrativo'),
 ('Heriberto', 'Juliá', 'Administrativo'),
 ('Gaspar', 'Manjón', 'Administrativo'),
 ('Julio', 'César', 'Administrativo'),
 ('Jeremías', 'Araujo', 'Limpieza'),
 ('Óscar', 'Llano', 'Limpieza'),
 ('Clemente', 'Perea', 'Limpieza'),
 ('Mohamed', 'Amo', 'Limpieza'),
 ('Basilio', 'Gordillo', 'Monitor'),
 ('Clementina', 'Rico', 'Monitor'),
 ('Angélica', 'Sanjuan', 'Monitor'),
 ('Sabas', 'Santos-Llamas', 'Monitor'),
 ('Perla', 'Hierro', 'Monitor'),
 ('Yéssica', 'Carmona', 'Monitor'),
 ('Benigna', 'Velázquez', 'Monitor'),
 ('Adolfo', 'Conesa', 'Monitor'),
 ('Gabino', 'Mateo', 'Monitor'),
 ('Maricela', 'Agullo', 'Monitor'),
 ('Javiera', 'Mayo', 'Monitor'),
 ('Calixto', 'Salcedo', 'Monitor'),
 ('Bienvenida', 'Bolaños', 'Monitor'),
 ('Filomena', 'Tejero-Huertas', 'Monitor'),
 ('Régulo', 'Soria', 'Técnico Mantenimiento'),
 ('Saturnina', 'Villalba', 'Técnico Mantenimiento'),
 ('Cruz', 'Anglada', 'Técnico Mantenimiento')]

In [15]:
#Muestra los clientes abonados al abono Aqua
cursor.execute("SELECT cli.nombre, cli.apellido1, abo.nombre FROM actividad1.cliente as cli, actividad1.suscripcion as sus, actividad1.abono as abo Where cli.id= sus.cliente AND sus.abono = abo.id AND abo.nombre= 'Aqua'")
cursor.fetchall()

[('Herberto', 'Zamora', 'Aqua'),
 ('Alfonso', 'Duran', 'Aqua'),
 ('Jenaro', 'Rodriguez', 'Aqua'),
 ('Ciriaco', 'Noguera', 'Aqua'),
 ('Aurelio', 'Coca', 'Aqua'),
 ('Sabina', 'Cuéllar', 'Aqua'),
 ('Maricruz', 'Gil', 'Aqua'),
 ('Flavia', 'Cisneros', 'Aqua'),
 ('Fernando', 'Rubio', 'Aqua'),
 ('Adalberto', 'Tejada', 'Aqua'),
 ('Candelario', 'Guzmán', 'Aqua'),
 ('Juan', 'Cabanillas', 'Aqua'),
 ('Sonia', 'Porras', 'Aqua'),
 ('Agapito', 'Mateo', 'Aqua'),
 ('Jennifer', 'Molina', 'Aqua'),
 ('Toribio', 'Agullo-Calderon', 'Aqua'),
 ('Amalia', 'Beltran', 'Aqua'),
 ('María', 'Fajardo', 'Aqua'),
 ('Segismundo', 'Belda', 'Aqua'),
 ('Nicodemo', 'Villalonga', 'Aqua'),
 ('Paca', 'Manso', 'Aqua'),
 ('Norberto', 'Marí', 'Aqua'),
 ('Belen', 'Somoza', 'Aqua'),
 ('Valeria', 'Busquets', 'Aqua'),
 ('Chelo', 'Quirós', 'Aqua'),
 ('Miguel', 'Roman', 'Aqua'),
 ('Anastasio', 'Manuel-Valenciano', 'Aqua'),
 ('Buenaventura', 'Leiva', 'Aqua'),
 ('Ema', 'Canales', 'Aqua'),
 ('Juan', 'Garay', 'Aqua'),
 ('Ale', 'Villanueva', 'Aqua'),
 ('Artemio', 'Lucas', 'Aqua'),
 ('Alfredo', 'Almazán', 'Aqua'),
 ('Jordán', 'Gracia', 'Aqua'),
 ('Elvira', 'Lago', 'Aqua')]

In [16]:
#Clientes en el curso de Aikido
cursor.execute("SELECT cli.nombre, cli.apellido1, curs.nombre FROM actividad1.cliente as cli, actividad1.curso as curs, actividad1.suscripcion as sus where cli.id=sus.cliente AND sus.curso = curs.id AND curs.nombre = 'Aikido' ORDER BY cli.apellido1")
cursor.fetchall()

[('Amada', 'Barros', 'Aikido'),
 ('Nando', 'Cortés', 'Aikido'),
 ('Mónica', 'Gracia-Raya', 'Aikido'),
 ('Josep', 'Jaume', 'Aikido'),
 ('Agapito', 'Mateo', 'Aikido'),
 ('Manu', 'Real-Sevilla', 'Aikido'),
 ('Fernando', 'Rubio', 'Aikido')]

In [17]:
#Clientes de un monitor
cursor.execute("SELECT cli.nombre, cli.apellido1, emp.nombre, emp.apellido1 FROM actividad1.cliente as cli, actividad1.empleado as emp, actividad1.curso as curs, actividad1.suscripcion as sus, actividad1.imparte as imp where cli.id=sus.cliente AND sus.curso = curs.id AND curs.id = imp.codigo_curso AND imp.codigo_empleado = emp.id AND emp.id = 3 GROUP by  cli.id, emp.id ORDER BY cli.apellido1")
cursor.fetchall()

[('Toribio', 'Agullo-Calderon', 'Basilio', 'Gordillo'),
 ('Raúl', 'Alfonso', 'Basilio', 'Gordillo'),
 ('Fidel', 'Baró', 'Basilio', 'Gordillo'),
 ('Amada', 'Barros', 'Basilio', 'Gordillo'),
 ('Ricardo', 'Benito', 'Basilio', 'Gordillo'),
 ('Victoriano', 'Cabanillas-Terrón', 'Basilio', 'Gordillo'),
 ('Ema', 'Canales', 'Basilio', 'Gordillo'),
 ('Amaya', 'Cañizares', 'Basilio', 'Gordillo'),
 ('Alex', 'Chamorro', 'Basilio', 'Gordillo'),
 ('Flavia', 'Cisneros', 'Basilio', 'Gordillo'),
 ('Luciano', 'Conesa', 'Basilio', 'Gordillo'),
 ('María', 'Diéguez', 'Basilio', 'Gordillo'),
 ('María', 'Fajardo', 'Basilio', 'Gordillo'),
 ('Febe', 'Ferrán-Gimeno', 'Basilio', 'Gordillo'),
 ('Jose', 'Francisco', 'Basilio', 'Gordillo'),
 ('Aroa', 'Gisbert', 'Basilio', 'Gordillo'),
 ('Elvira', 'Lago', 'Basilio', 'Gordillo'),
 ('Blanca', 'Leal', 'Basilio', 'Gordillo'),
 ('Ainara', 'Martin', 'Basilio', 'Gordillo'),
 ('Chita', 'Mena', 'Basilio', 'Gordillo'),
 ('Adrián', 'Nevado', 'Basilio', 'Gordillo'),
 ('Francisco', 'Oliva', 'Basilio', 'Gordillo'),
 ('Loreto', 'Pintor', 'Basilio', 'Gordillo'),
 ('Sonia', 'Porras', 'Basilio', 'Gordillo'),
 ('Alcides', 'Prieto', 'Basilio', 'Gordillo'),
 ('Jenaro', 'Rodriguez', 'Basilio', 'Gordillo'),
 ('Herberto', 'Sandoval', 'Basilio', 'Gordillo'),
 ('Belen', 'Somoza', 'Basilio', 'Gordillo')]

In [18]:
#Clientes con codigo postal 46003
cursor.execute("SELECT * FROM Actividad1.cliente WHERE cp='46003' ORDER BY Actividad1.cliente.apellido1")
cursor.fetchall()

[(86,
  'Carlito',
  'Bárcena',
  'Molins',
  'CL. DENIA, 61, 1ª',
  '46003',
  '622086810',
  '190837888405201000',
  111111111),
 (71,
  'Ricardo',
  'Benito',
  'Olivares',
  'CL. JOSE MARIA BAYARRI, 15, 15ª',
  '46003',
  '603666421',
  '190957113764071000',
  111111111),
 (45,
  'Rosaura',
  'Bertrán',
  'Torrijos',
  'PZ. AYUNTAMIENTO DEL, 5, 19ª',
  '46003',
  '693078511',
  '190371795804087000',
  111111111),
 (23,
  'Sabina',
  'Cuéllar',
  'Perera',
  'CL. GARRIGUES LES, 4, 16ª',
  '46003',
  '663070534',
  '190540513863490000',
  111111111),
 (12,
  'Anastasio',
  'Manuel-Valenciano',
  'Alegre',
  'CL. MARTINEZ CUBELLS, 10, 907ª',
  '46003',
  '693038646',
  '190879542736964000',
  111111111),
 (94,
  'Belen',
  'Somoza',
  'Somoza',
  'CL. AYORA, 23, 21ª',
  '46003',
  '643981162',
  '190254583191892000',
  111111111),
 (35,
  'Cebrián',
  'Valls',
  'Alberdi',
  'AV. DE LOEST, S/N, ª',
  '46003',
  '600523413',
  '190909849230425000',
  111111111)]

In [19]:
#Clientes de un monitor
cursor.execute("SELECT maq.tipo, zon.nombre as zona FROM actividad1.MAQUINAS as maq INNER JOIN actividad1.ZONA as zon ON maq.zona=zon.id GROUP BY zon.nombre, maq.tipo ORDER BY maq.tipo")
cursor.fetchall()

[('Abdominal', 'Sala Maquinas'),
 ('Bici estatica', 'Sala de Cardio'),
 ('Cinta de correr', 'Sala de Cardio'),
 ('Curl biceps', 'Sala Maquinas'),
 ('Hip abductores', 'Sala Maquinas'),
 ('Mancue 2-20kg', 'Sala Musculación'),
 ('Mancue 20-40kg', 'Sala Musculación'),
 ('Mancuenrnas 2kg', 'Sala Musculación'),
 ('Multi-Press', 'Sala Maquinas'),
 ('Polea alta', 'Sala Maquinas'),
 ('poleas y cables', 'Sala Maquinas'),
 ('Prensa 45º', 'Sala Musculación'),
 ('Pull down', 'Sala Musculación'),
 ('remo', 'Sala Maquinas')]

In [20]:
#Clientes con el abono Nutrición
cursor.execute("SELECT cli.nombre, cli.apellido1, abo.nombre FROM actividad1.cliente as cli, actividad1.suscripcion as sus, actividad1.abono as abo Where cli.id= sus.cliente AND sus.abono = abo.id AND abo.nombre= 'Nutrición'")
cursor.fetchall()

[('Flavia', 'Cisneros', 'Nutrición'),
 ('Agapito', 'Mateo', 'Nutrición'),
 ('Ruth', 'Sales', 'Nutrición'),
 ('Victoriano', 'Cabanillas-Terrón', 'Nutrición'),
 ('Ema', 'Canales', 'Nutrición')]

In [21]:
cursor.execute("SELECT COUNT(cli.nombre) FROM actividad1.cliente as cli, actividad1.suscripcion as sus, actividad1.abono as abo Where cli.id= sus.cliente AND sus.abono = abo.id AND abo.nombre= 'Nutrición'")
cursor.fetchall()

[(5,)]

In [22]:
# Cerrar el cursor
cursor.close()

In [23]:
# Cerrar la conexión
conexion.close()